*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body{width: 100%;}
  
  .main{background-color: #fafafa;}

  .container{
    width: 100%;
    max-width: 975px;
    text-align: center;
    margin: auto; 
  }
